[buildout]
parts = python sphinx
develop = .
eggs = gridtk
       ipdb

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

; This section enables the generation of the documentation using bin/sphinx
[sphinx]
recipe = xbob.buildout:sphinx
eggs = ${buildout:eggs}
source = ${buildout:directory}/docs
build = ${buildout:directory}/sphinx

